*.suo
*.sdf
*.ncb
*.log
*.pdb
*.obj
*.vs
*.APS

/build

/_Bin
/NATPunchServer/Server/NATCompleteServer/Debug
/NATPunchServer/Server/NATCompleteServer/Release
/Documentation/Doxygen/Output
MemCleanupInfo.txt
