*.user
*.suo
*.sdf
*.ncb
*.log
*.pdb
*.obj

/.vs
/_Bin
/_SDL
/_Pindrop
/Backup
/Debug
/Packaging/Win32-Beta/files
/Packaging/Win32/files
/System/Slick Profiler/Final2017
/System/Slick Profiler/Steam Final
/System/Slick Profiler/Steam Release
/System/Slick Profiler/Steam Debug
/System/Slick Profiler/Debug
/System/Slick Profiler/Final
/System/Slick Profiler/Final Open Source
/System/Slick Profiler/Debug Open Source
/System/Slick Profiler/Remote profile
/Slick DebugTool/DebugTool/bin
/Slick DebugTool/DebugTool/obj
/GUI/Editor/Debug
/GUI/Editor/Release
/Steam Release
/Steam Debug
/Steam Final
/_Bin/Final Open Source
/_Bin/Debug Open Source
/Final Open Source
/Debug Open Source
/Final2017
/Remote Profile
/Remote Release
/Release
/Final
/DebugFast
MemCleanupInfo.txt
/Packaging/Win32-Beta/client1
/Packaging/Win32-Beta/client2
/Packaging/Win32-Beta/client3
/Packaging/Win32-Beta/ClientFinal
/Packaging/Win32-Beta/ServerFinal
/Packaging/Win32-Beta/ServerFinalGameplay
/NATPunchServer/Server/NATCompleteServer/Debug
/NATPunchServer/Server/NATCompleteServer/Release
/NATPunchServer/Server/NATCompleteServer/.vs
/_LuaBind/Debug
/_LuaBind/Release
/_LuaBind/.vs
/_boost_1_69_0/bin.v2
/_boost_1_69_0/stage
/_Allegro-4.2.3.1-Custom/Allegro/build/msvc8/.vs
/_Allegro-4.2.3.1-Custom/Allegro/lib
/_Allegro-4.2.3.1-Custom/Allegro/obj

/Base.rte
/Benchmark.rte
/Browncoats.rte
/Coalition.rte
/Dummy.rte
/Imperatus.rte
/Metagames.rte
/Missions.rte
/MuIlaak.rte
/Ronin.rte
/Scenes.rte
/Techion.rte
/Uzira.rte

/abortscreen.bmp

LogConsole.txt
LogLoading.txt
LogPublish.txt

ScreenDump*.bmp